@model SimpleImageDetector.Models.ImageUploadViewModel

<div class="row">
    <!-- Middle Section: Display Image -->
    <div class="col-md-6">
        <h3>Image</h3>
        @if (!string.IsNullOrEmpty(Model.ImageBase64))
        {
            <img src="data:image/jpeg;base64,@Model.ImageBase64" alt="Selected Image" class="img-fluid" />
        }
        else
        {
            <p>No image selected yet.</p>
        }
    </div>

    <!-- Right Section: Results -->
    <div class="col-md-6">
        <h3>Detected Labels</h3>
        @if (Model.Labels != null && Model.Labels.Any())
        {
            <ul>
                @foreach (var label in Model.Labels)
                {
                    <li>@label.Name: @label.Confidence %</li>
                }
            </ul>
        }
        else
        {
            <p>No labels detected yet.</p>
        }
    </div>
</div>
